@mixin header($bgColor, $mainColor, $navColor, $navActiveColor){
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 10;

  background: $bgColor;
  box-shadow: 0 0rem 2rem gray;
  h1, h2, h3, p, label {color: $mainColor;}

  .inner {
    margin: 0 auto;
    width: 90%;
  }

  @media #{$small-up} {
    height: 6rem;
    h1 {
      font-size: 1.6rem;
      strong {
        font-size: 1.8rem;
      }
    }

    nav {
      width: 100%;
      ul {
        margin-bottom: 0;
        li a {
          padding-top: 0rem;
          padding-left: 0.2em;
        }
      }
    }
  }
  @media #{$medium-up} {
    ul {float: right;}
  }
  @media #{$large-up} {
    padding-top: 1.2rem;
    height: 6rem;

    h1 {
      float: left;

      font-size: 1.6rem;
      strong {
        font-size: 2.2rem;
      }
    }

    nav {
      width: 100%;
      ul {
        float: right;

        li a {
          height: 3.5rem;
          padding-top: 1rem;
          padding-left: 1em;

        }
      }
    }
  }

  /* 網站標題 */
  @keyframes site-tite-ani {
      0%   {color: rgba(255, 255, 255, 0); left:100px;}
      100% {color: $mainColor; left:0px;}
  }
  h1 {
    color: $mainColor;
    position: relative;
    animation-name: site-tite-ani;
    animation-duration: 2s;
  }

  nav {
    ul {
      li {
        display: inline-block;
        a {
          display: block;
          font-size: 1.3rem;
          color: $navColor;
        }
        a.active {
          color: $navActiveColor;
        }
      }
    }
  }
}

@mixin footer {
  border-top: 1px solid black;

  #footer-left {
    float: left;
    margin-left: 5%;
  }
  #footer-right {
    float: right;
    margin-right: 5%;
  }
}
