/* 套用Google的黑體 */
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
body, h1, h2, h3 { font-family: 'cwTeXHei', serif;  }*/

#too-old-ie {
  display: none;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   display: none;
  }

  display: inherit\9;
  padding-top: 8rem;
  padding-bottom: -8rem;
  margin-bottom: -7rem;

  div.inner {
    margin: 0 auto;
    width: 90%;
    p.warning { color: red; }
    padding-bottom: 4em;
    padding-bottom: 120px \9;
  }
  _border: 5px dashed red;
  border: 5px dashed red \9;
  *border: 5px dashed red;

  border: none\9\0;
  background: #ffffc4;
  overflow: hidden;
}

@mixin header($bgColor, $mainColor, $navColor, $navActiveColor){
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 10;

  @media #{$small-only} {
    position: inherit;
    height: auto;
  }

  background: $bgColor;
  box-shadow: 0 0rem 2rem gray;
  h1, h2, h3, p, label {color: $mainColor;}

  .inner {
    margin: 0 auto;
    width: 90%;
  }

  @media #{$small-up} {
    h1 {
      font-size: 1.5rem;
      strong {
        font-size: 1.5rem;
      }
    }

    nav {
      width: 100%;
      ul {
        margin-bottom: 0;
        li a {
          padding-top: 0rem;
          padding-left: 0.2em;
        }
      }
    }
  }
  @media #{$medium-up} {
    height: 6rem;
    h1 {
      font-size: 1.6rem;
      strong {
        font-size: 1.8rem;
      }
    }
    ul {float: right;}
  }
  @media #{$large-up} {
    padding-top: 1.2rem;
    height: 6rem;

    h1 {
      float: left;

      font-size: 1.6rem;
      strong {
        font-size: 2.2rem;
      }
    }

    nav {
      width: 100%;
      ul {
        float: right;

        li a {
          height: 3.5rem;
          padding-top: 1rem;
          padding-left: 1em;

        }
      }
    }
  }

  /* 網站標題 */
  @keyframes site-tite-ani {
      0%   {color: rgba(255, 255, 255, 0); left:100px;}
      100% {color: $mainColor; left:0px;}
  }
  h1 {
    color: $mainColor;
    a { color: $mainColor; }
    position: relative;
    animation-name: site-tite-ani;
    animation-duration: 2s;
  }

  nav {
    ul {
      li {
        display: inline-block;
        a {
          display: block;
          font-size: 1.3rem;
          color: $navColor;
        }
        a.active {
          color: $navActiveColor;
        }
      }
    }
  }
}

@mixin footer {

  #footer-left {
    clear: both;
    float: left;
  }
  #footer-right {
    float: right;
    text-align: right;
    ul li ul {
      display: inline;
    }

    @media #{$small-only} {
      float: left;
      text-align: left;
    }
  }


  ul {
    li {
      list-style: none;

      ul {
        margin-left: 0;
        li {
          display: inline-block;
        }
      }
    }
  }
}

#contact-me-modal, #dev-people-modal {
  @media #{$medium-up} {
    width: 50%;
  }
  @media #{$large-up} {
    width: 30%;
  }
}
