@import "foundation";
@import "framework";

$mainColor: #a18ab9;

header {
  @include header(#ffffff, black, none, orange);
}

#header {
  @media #{$small-up} {
    padding-top: 6rem;
  }
  @media #{$medium-up} {
    padding-top: 8rem;
  }
  background: $mainColor;
  overflow: hidden;
  box-shadow: 0 0.2rem 2rem gray;
  h2, h3, p, label {color: white;}
}

#select-area {
  margin: 0 auto;
  width: 90%;

  h2 {
    font-size: 1.45rem;
  }

  div.select-group-item {
    margin-bottom: 1.3rem;
    h3 { font-size: 1.2rem; }
    a {
      color: white;
    }
    a:hover { color: #b4ddff; }
    a.active { color: yellow; }

    ul li a {
      display: block;
      width: 100%;
    }
    @media #{$small-only} {
      h3 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        padding-bottom: 0.2em;
      }
      ul {
        @include block-grid(2);
      }
    }
    @media #{$medium-up} {
      display: flex;
      h3 {
        float: left;
        width: 7rem;
      }

      ul {
        float: right;
        width: 100%;
        border-left: 1px solid rgba(255, 255, 255, 0.7);
        @include block-grid(4);
        li {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
      }
    }
    @media #{$large-up} {
      ul {
        @include block-grid(6);

        li {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
      }
    }
  }
}

#container {
  clear: both;
  padding-top: 2rem;
  #result-area, #about, footer {
    margin: 0 auto;
    width: 90%;
  }

  #result-area {
    h2 {
      font-size: 2em;
    }

    .chart-content {
      transition: all 0.7s linear;
      opacity: 100;

      div.chart-image-area {
        padding-top: 1.5em;

        ul {
          figure {
            figcaption {
              margin-bottom: 1em;
              text-align: center;
            }
          }
//          @media #{$large-up} {
//            width: 85%;
//          }
          @media #{$large-up} {
            display: flex;
            width: 100%;
            li:first-child:nth-last-child(1) {
              width: 100%;
              max-width: 70%;
              margin: 0 auto;
            }

            /* two items */
            li:first-child:nth-last-child(2),
            li:first-child:nth-last-child(2) ~ li {
              width: 50%;
            }

            /* three items */
            li:first-child:nth-last-child(3),
            li:first-child:nth-last-child(3) ~ li {
              width: 33.3333%;
            }
          }

          li {
            list-style-type: none;

            figure {
              margin-bottom: 2em;
            }
          }
        }
      }
    }
    .chart-content.hidden {
      position: absolute;
      top: -1000em;
      left: -1000em;
      height: 0;
      //padding: 0 10px;
      visibility: hidden;
      opacity: 0;
    }

  }

  footer {
    border-top: 1px solid black;
    margin-top: 2em;
    padding-bottom: 4em;

    #footer-left {
      float: left;
    }
    #footer-right {
      float: right;
    }
  }
}
