@import "foundation";
@import "framework";

$mainColor: #a18ab9;

header {
  @include header(#ffffff, black, none, orange);
}

#header {
  padding-top: 8rem;
  background: $mainColor;
  overflow: hidden;
  box-shadow: 0 0.2rem 2rem gray;
  h2, h3, p, label {color: white;}
}

#select-area {
  margin: 0 auto;
  width: 90%;

  /* Old IE Hack*/
  display: none \9\0;
  display: none  \9;

  h2 {
    font-size: 1.45rem;
    display: inline;
    margin-right: 1em;
  }

  a.research-methods-link {
    color: white;
    text-decoration: underline;
  }
  a.research-methods-link:hover {
    color: #b4ddff;
  }

  div.select-group-item {
    margin-top: 1em;
    margin-bottom: 1.3rem;
    h3 { font-size: 1.2rem; }
    a {
      color: white;
      padding-left: 1em;
      border-radius: 10px;
    }
    a:hover {
      background: rgba(255, 255, 255, 0.2);
//      color: #b4ddff;
    }
    a.active {
      color: yellow;
      background: rgba(255, 255, 255, 0.2);
    }

    ul li a {
      display: block;
      width: 100%;
    }
    @media #{$small-only} {
      h3 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        padding-bottom: 0.2em;
      }
      ul {
        @include block-grid(2);
      }
    }
    @media #{$medium-up} {
      display: flex;
      h3 {
        float: left;
        width: 7rem;
      }

      ul {
        float: right;
        width: 100%;
        border-left: 1px solid rgba(255, 255, 255, 0.7);
        @include block-grid(4);
        li {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
      }
    }
    @media #{$large-up} {
      ul {
        @include block-grid(6);

        li {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
      }
    }
  }
}

#container {
  clear: both;
  padding-top: 2rem;
  #result-area, #about, footer {
    margin: 0 auto;
    width: 90%;
  }

  @keyframes display-ani {
    0% { opacity: 0; }
    100% { opacity: 100; }
  }
  #result-area {
    animation-name: display-ani;
    animation-duration: 3.5s;
    h2 {
      font-size: 2em;
      display: inline;
    }

    .chart-content {
      transition: all 0.7s linear;
      opacity: 100;

      div.chart-image-area {
        padding-top: 1.5em;

        ul {
          figure {
            figcaption {
              margin-bottom: 1em;
              text-align: center;
            }
          }
//          @media #{$large-up} {
//            width: 85%;
//          }
          @media #{$large-up} {
            display: flex;
            width: 100%;
            li:first-child:nth-last-child(1) {
              width: 100%;
              max-width: 70%;
              margin: 0 auto;
            }

            /* two items */
            li:first-child:nth-last-child(2),
            li:first-child:nth-last-child(2) ~ li {
              width: 50%;
            }

            /* three items */
            li:first-child:nth-last-child(3),
            li:first-child:nth-last-child(3) ~ li {
              width: 33.3333%;
            }
          }

          li {
            list-style-type: none;

            figure {
              margin-bottom: 2em;
            }
          }
        }
      }
    }
    .chart-content.hidden {
      position: absolute;
      top: -1000em;
      left: -1000em;
      height: 0;
      height: inherit \9\0;
      height: inherit \9;
      //padding: 0 10px;
      visibility: hidden;
      opacity: 0;
      /* Old IE Hack */
      position: static \9\0;
      position: static \9;
      visibility: visible \9\0;
      visibility: visible \9;
      opacity: 100 \9;
      opacity: 100 \9\0;
    }

    #salary-source-area {
      text-align: center;
    }

  }

  footer {
    border-top: 1px solid black;
    margin-top: 2em;
    padding-bottom: 4em;

    @include footer;
  }
}

#research-methods-modal {
  h2 { margin-bottom: 0.5em; }
  strong { color: red; }
  ul { margin-bottom: 0; }

  @media #{$medium-up} {
    section:nth-child(2) {
      ul {
        float: left;
        width: 48%;
      }
      img {
        float: right;
        width: 50%;
      }
    }
    section:nth-child(3) {
      clear: both;
    }
    section:nth-child(6) {
      margin-top: 2em;
      text-align: right;
    }
  }
}


@media print {
  header, #header, #result-area h2+a {
    display: none;
  }
  footer {
    a[href]:after {
      content: none !important;
    }
  }

  #container #result-area .chart-content.hidden {
      position: inherit;
      height: inherit;
      visibility: inherit;
      opacity: inherit;
  }

  .chart-content:nth-child(2n):not(:last-child) {
    page-break-after: always;
  }
}
