@import "foundation";
@import "framework";

body { height: auto; }

header {
  @include header(#ffffff, black, none, orange);
}

#container {
  @media #{$small-up} {
    margin-top: 6rem;
  }
  @media #{$large-up} {
    margin-top: 6rem;
  }

  .page-section {
    .inner {
      @include grid-row();
      padding-top: 2rem;
      padding-bottom: 2rem;

      h2 {
        margin-bottom: 0.5em;
      }

      strong {
        color: #ffcfe0;
        text-shadow: 2px 2px 5px gray;
      }

      @media #{$medium-up} {
        div.intro-content {

        }
        div.go-to {
          text-align: right;
          margin-top: -2em;
        }
      }

      .primaryBtn {
        color: white;
        font-size: 1.3em;
        padding: 0.5em;
//        border: 2px solid white;
//        border-radius: 10px;
      }
      .primaryBtn:after {
        content: "►";
        margin-left: 1em;
        border: 2px solid white;
        border-radius: 50px;
        padding: 0.3em;
        padding-left: 0.5em;
      }
    }
  }

  #predict-area {
    background: #8AB9B2;
    h1, h2, h3, p, li{color: white;}
  }

  #chart-area {
    background: #a18ab9;
    h1, h2, h3, p, li {color: white;}
  }
  margin-bottom: -2em;
}

footer {
  @include footer;
}
