@import "foundation";
@import "framework";

body { height: auto; }

header {
  @include header(#ffffff, black, none, orange);
}

#container {
  @media #{$small-up} {
    margin-top: 6rem;
  }
  @media #{$large-up} {
    margin-top: 3.5rem;
  }

  .page-section {
    .inner {
      @include grid-row();
    }
  }

  #predict-area {
    background: #8AB9B2;
    h1, h2, h3, p, li{color: white;}
  }

  #chart-area {
    background: #a18ab9;
    h1, h2, h3, p, li {color: white;}
  }
  margin-bottom: -2em;
}

footer {
  @include footer;
}
