@import "foundation";
@import "framework";

body { height: auto; }
/* 分數輸入區 */
header {
  @include header(#ffffff, black, none, orange);
}

#container {
  @media #{$small-up} {
    margin-top: 6rem;
  }
  @media #{$large-up} {
    margin-top: 3.5rem;
  }
}

footer {
  @include footer;
}
