body {
  padding-top: 3.6em;
}

/*橫列1*/
nav .btn-group {
  margin: 0.8rem 2rem 0 0;
}

nav .navbar-nav li{
    padding-right: 2em;
}

@media(max-width: 48em){
  nav .btn-group {
    position: absolute;
    top: 0;
    right: 4em;
  }
}


section div form {
  margin: 0 auto;
  width: 40%;
}
/*橫列2*/
section#intro-header {
  background-image: url(../images/background.jpg);
  background-size: cover;
}

section#intro-header .wrap-headline {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

section#intro-header h1,
section#intro-header h2 {
  color: #FFF;
}

section#intro-header h2 {
  font-size: 1.5rem;
}

section#intro-header hr {
  width: 25%;
}

section#intro-header .btn-default {
  border: none;
}

section form button a {
  color: #FFF;
}

#nav-menu {
  margin-right: 1rem;
}

/*橫列3 與 橫列4*/
section#about img {
  margin-top: 6.5rem;
  margin-bottom: 5rem;
}

section#about h3 {
  margin-top: 10rem;
}

/*橫列5 與 橫列6*/
section#features {
  background-color: #eef2f5;
  border-top: 0.1rem solid #e9e9e9;
  border-bottom: 0.1rem solid #e9e9e9;
}

section#features * {
  color: #657C8E;
}

section#features .feature {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

section#features .glyphicon {
  font-size: 2rem;
}

section#features .glyphicon-heart {
  color: #E04C4C;
}

section#features .feature-tag {
  max-width: 10.7em;
  display: inline-block;
  text-align: left;
  margin-left: 1.5em;
  font-size: 1.7rem;
}

/*橫列7 與 橫列8*/
section#pricing .center-block {
  width: 90%
}

section#pricing h3.price-headline {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

section#pricing .white-text {
  color: #FFF;
}

section#pricing thead .success {
  background-color: #78CFBF;
}

section#pricing thead .info {
  background-color: #3EC6E0;
}

section#pricing thead .danger {
  background-color: #E3536C;
}

section#pricing tbody .success {
  background-color: #82DACA;
}

section#pricing tbody .info {
  background-color: #53CFE9;
}

section#pricing tbody .danger {
  background-color: #EB6379;
}

/* 橫列9 - 電子報 */
section#newsletter {
  border-top: 1px solid #E0E0E0;
  padding-top: 3.2em;
  margin-top: 2em;
}

section#newsletter h4 {
  padding: 1em;
}

section#newsletter form {
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 5.5em;
}

/* 頁尾 */
footer {
  background-color: #ffffff;
  color: #000000;
  margin-top: 0.5em;
  /*margin-bottom: 8em; */
}

footer h5,
footer img {
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
}

footer ul {
  margin-bottom: 5em;
}

footer address strong {
  color: #000000;
  display: block;
  padding-top: 1.3em;
  padding-bottom: 0.62em;
}

footer a {
  font-size: 16px;
  font-weight: 450;
  color: #567771;
}

footer a:hover {
  text-decoration: none;
  color: #e21429;
}

/* team 部份 */
section#team ul {
  margin: 5rem 0;
}

section#team li {
  margin: 0 5rem;
}

section#team h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

/*聯絡頁面*/
section#contact form {
  padding-top: 9rem;
  padding-bottom: 3rem;
}

.hidden-element {
  display: none;
}
