@import "foundation";
@import "framework";

/* 分數輸入區 */
header {
  @include header(#ffffff, black, none, orange);
}

#header {

  @media #{$small-up} {
    padding-top: 6rem;
  }
  @media #{$medium-up} {
    padding-top: 8rem;
  }
  background: #8AB9B2;
  overflow: hidden;
  box-shadow: 0 0.2rem 2rem gray;
  h2, h3, p, label {color: white;}

  #input-area {
    margin: 0 auto;
    width: 90%;
  }

  h2 {
    font-size: 1.2rem;
    small {
      font-size: 0.9rem;
      color: white;
    }
  }

  /* 選取薪資 */
  #input-expect-salary-area {
    label>h2 {
      float: left;
      font-size: 1.3rem;
      font-weight: bold;
    }
    input {
      width: 8em;
    }
  }

  /* 所有數字輸入框*/
  input[type="number"], select {
    box-shadow: inset 0 0 0 0;
    background: none;
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.1em;
    text-align: center;
    height: 2.1em;
    -moz-appearance:textfield;
  }
  select {
    // 修正在Chrome不會置中的問題
    -webkit-padding-start: 50%;
  }
  option {
    color: white;
    background: #8AB9B2;
  }

  /* 隱藏+1-1按鈕 */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* 輸入學測指考分數 */
  #input-ast-score ,#input-gsat-score {
    label {
      font-size: 1em;
      text-align: center;
    }
    ul li { margin-bottom: -1em; }

    @media #{$small-only} {
      ul {
        @include block-grid(2);
      }
    }
//    @media #{$small-only} {
//      ul {
//        @include block-grid(1);
//        width: 100%;
//        label {
//          display: table;
//          width: 100%;
//          span {
//            display: table-cell;
//            width: 4em;
//          }
//          input {
//            display: table-cell;
//            width: 100%;
//            margin: 0;
//          }
//        }
//      }
//    }
  }

  #input-ast-score {
    @media #{$medium-up} {
      ul {
        @include block-grid(5);
      }
    }
    @media #{$large-up} {
      ul {
        @include block-grid(10);
      }
    }
  }

  #input-gsat-score {
    @media #{$small-only} {
      margin-top: 2em;
    }
    @media #{$medium-up} {
      ul {
        @include block-grid(6);
      }
    }
  }

  /* 選取學群 */
  #input-department-group-area {
    h2 { float:left; width: 4em; margin-right: 1em; }
    p {
      margin-left: -9em;
      padding-left: 9.5em;
      width: 100%;
    }
    a {
      padding: 0.3rem;
      color: white;
      border-bottom: 2px solid white;
      height: 2.2em;
      margin-bottom: 1em;
    }
    a:hover {
      background: rgba(255, 255, 255, 0.2);
    }
    p, .more-button {
      display: inline-block; margin-top: 0.3em;
    }
    .more-button {
      float: right;
    }

    /* 選取學群的checkbox區域 */
    #input-department-group-choose-area {
      transition: all 0.7s ease;
      width: 100%;
      @media #{$small-only} {
        ul {
          @include block-grid(2);
        }
      }
      @media #{$medium-up} {
        ul {
          @include block-grid(5);
        }
      }
      @media #{$large-up} {
        ul {
          @include block-grid(7);
        }
      }

      ul li span {
        border: 2px solid white;
        border-radius: 10px;
        padding: 0.5rem;
        display: inline-block;
        width: 100%;
        text-align: center;
      }
      ul li span:hover {
        box-shadow: 0 0 10px white;
      }
      ul li input[type="checkbox"] {
        display: none;
      }
      ul li input[type="checkbox"]:checked+span {
        background: #567771;
        box-shadow: 0 0 10px white;
      }
    }

    #input-department-group-choose-area.hidden {
      position: absolute;
      top: -1000em;
      left: -1000em;
      height: 0;
      padding: 0 10px;
      opacity: 0;
    }
  }

  #input-action-area {
    float: right;
    ul li {
      list-style-type: none;
      display: inline-block;
    }
    a.research-methods-link {
      position: relative;
      top: 0.5rem;
      text-decoration: underline;
      color: white;
    }
    a.research-methods-link:hover {
      color: #c1e3e3;
    }
    input[type="submit"] {
      margin-left: 1em;
      border: 2px solid white;
      border-radius: 10px;
      box-shadow: 0 0 5px white;
      background: none;
      padding: 0.5em 2.5em;
      font-size: 1em;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    input[type="submit"]:hover {
      background: rgba(124, 255, 129, 0.55);
    }
  }
}

#container {
  clear: both;
  padding-top: 2rem;
  #result-area, #about, footer {
    margin: 0 auto;
    width: 90%;
  }

  #result-area {
    h2 {
      font-size: 1.8em;
      margin-right: 0.5em;
      display: inline;
    }

    table {
      margin-top: 1em;
      width: 100%;
    }

    tr.warning {
      //background: #ffedf7;
    }
    tr.chu {
      background: #fff8e7;
    }
    td.warning {
      color: red;
    }
    @media #{$small-only} {
      table { border: 0; }
      table, thead, tbody, th, td, tr { display: block; };
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border: 1px solid #ccc;
        margin-bottom: 1em;
      }
      th, td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 10em;
        white-space: normal;
        text-align:left;
      }
      th:before, td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 8em;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
      }
      th:before, td:before { content: attr(data-title); }
    }
    @media #{$medium-up} {
      th, td { text-align: center; }

      tbody {
        td:nth-child(2), td:nth-child(3) { text-align: left; }
      }
    }

    #blessings-area {
      padding-top: 1em;
      padding-bottom: 1em;
      p {
        text-align: center;
        font-size: 2em;
        color: orange;
        font-weight: bold;
        text-shadow: 0 0 20px yellow;
      }
    }
  }

  #loading-area {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: all 0.5s linear;
    background: white;

    img { width: 5rem; height: 5rem; }
    p { margin-top: 1em; font-size: 2rem; }
  }
  #loading-area.hidden {
    opacity: 0;
    visibility: hidden;
  }

  footer {
    border-top: 1px solid black;
    margin-top: 2em;
    padding-bottom: 4em;

    #footer-left {
      float: left;
    }
    #footer-right {
      float: right;
    }
  }
}

#research-methods-modal {
  h2 { margin-bottom: 0.5em; }
  strong { color: red; }
  ul { margin-bottom: 0; }

  @media #{$medium-up} {
    section:nth-child(2) {
      ul {
        float: left;
        width: 48%;
      }
      img {
        float: right;
        width: 50%;
      }
    }
    section:nth-child(3) {
      clear: both;
    }
  }
}
