@import "foundation";


/* 分數輸入區 */
header {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 10;

  background: #8AB9B2;
  box-shadow: 0 -0.3rem 2rem #8AB9B2;
  h1, h2, h3, p, label {color: white;}

  .inner {
    margin: 0 auto;
    width: 90%;
  }

  @media #{$small-up} {
    height: 6rem;
    h1 { font-size: 1.8rem; }

    nav {
      width: 100%;
      ul {
        margin-bottom: 0;
        li a {
          padding-top: 0rem;
          padding-left: 0.2em;
        }
      }
    }
  }
  @media #{$medium-up} {
    ul {float: right;}
  }
  @media #{$large-up} {
    height: 3.5rem;

    h1 {
      float: left;
      font-size: 2rem;
    }

    nav {
      width: 100%;
      ul {
        float: right;

        li a {
          height: 3.5rem;
          padding-top: 1rem;
          padding-left: 1em;

        }
      }
    }
  }

  /* 網站標題 */
  @keyframes site-tite-ani {
      0%   {color: rgba(255, 255, 255, 0); left:100px;}
      100% {color: white; left:0px;}
  }
  h1 {
    position: relative;
    animation-name: site-tite-ani;
    animation-duration: 2s;
  }

  nav {
    ul {
      li {
        display: inline-block;
        a {
          display: block;
          font-size: 1.3rem;
          color: white;
        }
        a.active {
          color: #f5ff00;
        }
      }
    }
  }


}

#header {

  @media #{$small-up} {
    padding-top: 6rem;
  }
  @media #{$large-up} {
    padding-top: 3.5rem;
  }
  background: #8AB9B2;
  overflow: hidden;
  box-shadow: 0 0.2rem 2rem gray;
  h1, h2, h3, p, label {color: white;}

  #input-area {
    margin: 0 auto;
    width: 90%;
  }

  h2 {
    font-size: 1.2rem;
    small {
      font-size: 0.7rem;
      color: white;
    }
  }

  /* 選取薪資 */
  #input-expect-salary-area {
    label>h2 {
      float: left;
      font-size: 1.3rem;
      font-weight: bold;
    }
    input {
      width: 8em;
    }
  }

  /* 所有數字輸入框*/
  input[type="number"], select {
    box-shadow: inset 0 0 0 0;
    background: none;
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.1em;
    text-align: center;
    height: 2.1em;
    -moz-appearance:textfield;
  }
  option {
    color: white;
    background: #8AB9B2;
  }

  /* 隱藏+1-1按鈕 */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* 輸入學測指考分數 */
  #input-ast-score ,#input-gsat-score {
    label {
      font-size: 1em;
      text-align: center;
    }
    ul li { margin-bottom: -1em; }

    @media #{$small-only} {
      ul {
        @include block-grid(2);
      }
    }
//    @media #{$small-only} {
//      ul {
//        @include block-grid(1);
//        width: 100%;
//        label {
//          display: table;
//          width: 100%;
//          span {
//            display: table-cell;
//            width: 4em;
//          }
//          input {
//            display: table-cell;
//            width: 100%;
//            margin: 0;
//          }
//        }
//      }
//    }
  }

  #input-ast-score {
    @media #{$medium-up} {
      ul {
        @include block-grid(5);
      }
    }
    @media #{$large-up} {
      ul {
        @include block-grid(10);
      }
    }
  }

  #input-gsat-score {
    @media #{$small-only} {
      margin-top: 2em;
    }
    @media #{$medium-up} {
      ul {
        @include block-grid(6);
      }
    }
  }

  /* 選取學群 */
  #input-department-group-area {
    h2 { float:left; width: 4em; margin-right: 1em; }
    p { margin-left: -9em; padding-left: 9.5em; width: 100%; }
    a {
      padding: 0.3rem;
      color: white;
      border-bottom: 2px solid white;
      height: 2.2em;
      margin-bottom: 1em;
    }
    p, .more-button {
      display: inline-block; margin-top: 0.3em;;
    }
    .more-button {
      float: right;
    }

    /* 選取學群的checkbox區域 */
    #input-department-group-choose-area {
      transition: all 0.7s ease;
      width: 100%;
      @media #{$small-only} {
        ul {
          @include block-grid(2);
        }
      }
      @media #{$medium-up} {
        ul {
          @include block-grid(5);
        }
      }
      @media #{$large-up} {
        ul {
          @include block-grid(7);
        }
      }

      ul li span {
        border: 2px solid white;
        border-radius: 10px;
        padding: 0.5rem;
        display: inline-block;
        width: 100%;
        text-align: center;
      }
      ul li span:hover {
        box-shadow: 0 0 10px white;
      }
      ul li input[type="checkbox"] {
        display: none;
      }
      ul li input[type="checkbox"]:checked+span {
        background: #567771;
        box-shadow: 0 0 10px white;
      }
    }

    #input-department-group-choose-area.hidden {
      position: absolute;
      top: -1000em;
      left: -1000em;
      height: 0;
      padding: 0 10px;
      opacity: 0;
    }
  }

  #input-action-area {
    float: right;
    ul li {
      list-style-type: none;
      display: inline-block;
    }
    input[type="submit"] {
      border: 2px solid white;
      border-radius: 10px;
      box-shadow: 0 0 5px white;
      background: none;
      padding: 0.5em 2.5em;
      font-size: 1em;
      color: white;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background: rgba(124, 255, 129, 0.55);
    }
  }
}

#container {
  clear: both;
  padding-top: 2rem;
  #result-area, #about, footer {
    margin: 0 auto;
    width: 90%;
  }

  #result-area {
    h2 {
      font-size: 1.5em;
    }

    table { width: 100%; }

    tr.chu {
      background: #ffedf7;
    }
    @media #{$small-only} {
      table { border: 0; }
      table, thead, tbody, th, td, tr { display: block; };
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border: 1px solid #ccc;
        margin-bottom: 1em;
      }
      th, td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 10em;
        white-space: normal;
        text-align:left;
      }
      th:before, td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 8em;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
      }
      th:before, td:before { content: attr(data-title); }
    }
    @media #{$medium-up} {
      th, td { text-align: center; }

      tbody {
        td:nth-child(2), td:nth-child(3) { text-align: left; }
      }
    }

  }

  #loading-area {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: all 0.5s linear;
    background: white;

    img { width: 5rem; height: 5rem; }
    p { margin-top: 1em; font-size: 2rem; }
  }
  #loading-area.hidden {
    opacity: 0;
    visibility: hidden;
  }

  footer {
    border-top: 1px solid black;
    margin-top: 2em;
    padding-bottom: 4em;

    #footer-left {
      float: left;
    }
    #footer-right {
      float: right;
    }
  }
}
